@charset "utf-8";
@import "normalize";

@font-face {
  font-family: 'Datalegreya';
  src: url("/fonts/Datalegreya-Dot.otf") format("opentype");
}

@font-face {
  font-family: 'CaviarDreams';
  src: url("/fonts/CaviarDreams.ttf") format('truetype');
}

body {
  background: #DE5042;
  text-align: center;
  font-family: "CaviarDreams", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: regular;
}

.top, .bottom {
  height: 50vh;
}

.top p {
  color: white;
  font-size: 50vh;
  font-family: 'Datalegreya';
  margin: 0;
}

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s;
}

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}
