@charset "utf-8";
@import "normalize";

@font-face {
  font-family: 'Datalegreya';
  src: url("/fonts/Datalegreya-Dot.otf") format("opentype");
}

@font-face {
  font-family: 'CaviarDreams';
  src: url("/fonts/CaviarDreams.ttf") format('truetype');
}

body {
  background: #DE5042;
  text-align: center;
  font-family: "CaviarDreams", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: regular;
}

.top, .bottom {
  height: 50vh;
}

.top p {
  color: white;
  font-size: 50vh;
  font-family: 'Datalegreya';
  margin: 0;
}

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s;
}

.privacy {
  padding: 16px;
  color: white;

  ul {
	  list-style: none;
    margin: 0;
    padding: 0;
    border: 0;

    li {
      list-style-type: none;
      margin: 0;
      padding: 8px;
      border: 0;
    }
  }

  a:link, a:visited, a:hover, a:active {
      color: #2EB187;
      padding: 0;
      text-align: center;
      text-decoration: none;
      display: inline-block;
  }
}

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}
